<!DOCTYPE html>
<html th:fragment="header" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head lang="en" th:include="head :: head">
</head>


<body>

	<div lang="en" th:include="dashboard_header :: dashboard_header"></div>


	<div lang="en" th:include="left_sidebar :: returnToDashboard"></div>



	<main id="main" class="main">

		<div class="pagetitle">
			<nav>
				<ol class="breadcrumb">
					<!-- <li class="breadcrumb-item"><a href="#">Home</a></li> -->
					<li class="breadcrumb-item active">Create Offices &amp;
						Designation</li>
				</ol>
			</nav>
		</div>
		<!-- End Page Title -->

		<section class="section dashboard yrTab">
			<!--  -->
			<div class="row">

				<!-- Left side columns -->
				<div class="col-lg-12">
					<div class="card mb-4">
						<div class="card-body">
							
							<h5 class="fw-bold">Create Offices &amp; Designation</h5>
							<hr>
							<div class="row">
								<div class="mb-3">
									<h5 class="font-monospace text-danger">
										Note:
									</h5>
									<ul class="font-monospace text-danger">
										
												<li id="rule-1">
													Before creating offices and designation please check the already created
												   </li>
												<li id="rule-2">
													If office and users not availabe kindly create it.
												</li>
												<li id="rule-3">
													It will be helpfull for downline users to create the lastmile user.
												</li>
											
											
									</ul>
	
								</div>
								<div class="col-md-4">
									<div class="form-input-block mb-2">


										<label for="dept">Department<span class="text-danger h6 m-0">*</span></label> <!-- <select
											id="newdeptname" class="form-select"
											aria-label="Default select example">
											<option selected value="0">Select Department</option>
											<option th:each="deptlist: ${deptlist}"
												th:value="${deptlist.department_name}"
												th:text="${deptlist.department_name}"></option>
										</select> -->
										<input class="form-control" type="text" name=""
											th:value="${nodalD[0].department}" id="newdeptname" disabled>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-input-block mb-2">


										<label for="offc">Office Name<span class="text-danger h6 m-0">*</span></label> 
										<select
											id="addnewoffcnodal" class="form-select"
											aria-label="Default select example">
											<option selected value="0">Select Department</option>
											<option value="addoffice">Add new Offices</option>
											<option th:each="officelist: ${officelist}"
												th:value="${officelist.office_name}"
												th:text="${officelist.office_name}"></option>
										</select>
									</div>
								</div>


                               <div class="col-md-4" style="display: none" id="newOffcnodalDiv">
										<div class="form-input-block  mb-3">
											<label for="newofc">Add new Office<span class="text-danger h6 m-0">*</span></label>
											<input type="text" class="form-control" placeholder="Add new Office" id="newofcnodal">
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<div class="form-input-block mb-2">
	
	
											<label for="offc">Designation<span class="text-danger h6 m-0">*</span></label> <select
												class="form-select" id="addnewDesignodal" aria-label="addnewDesignodal"
												disabled>
												<option value="">Select Designation</option>
											</select>
										</div>
									</div>
	
									<div class="col-md-4" style="display: none"
										id="newDesignodalDiv">
										<div class="form-input-block  mb-3">
											<label for="newofc">Add new Designation<span class="text-danger h6 m-0">*</span></label> <input
												type="text" class="form-control"
												placeholder="Add new Designation" id="newdesg">
										</div>
									</div>
	
								</div>
	
								<div class="row">
									<div class="col-md-4">
										<div class="form-input-block mb-2">
	
											<label for="offc">User Level<span class="text-danger h6 m-0">*</span></label> <select
												class="form-select" id="addnewulevel" aria-label="addlevell"
												disabled>
												<option value="">Select Level</option>
												<option value="UT">UT</option>
												<option value="Division">Division</option>
												<option value="District">District</option>
												<option value="Appellate">Appellate Authority</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<div class="form-input-block mb-2">
	
											<label for="userType">User Type<span class="text-danger h6 m-0">*</span></label> <select
												class="form-select" id="userType" aria-label="addnewUserType" disabled>
												<option value="0">Select user type</option>
												<option value="HOD">HOD</option>
												<option value="District">District</option>
												<option value="Appellate">Appellate Authority</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="btn-block justify-content-start mt-4">
											<button type="submit" class="common-btn"
												id="submitNewDeptNodal">Create</button>
											<button type="reset" class="common-btn btn-black"
												id="resetnewDept">Reset</button>
										</div>
									</div>
								</div>

							</div>

							
						</div>
					</div>

				</div>
				<!-- End Left side columns -->
			</div>

			<!-- 
			<div class="row">

				Left side columns
				<div class="col-lg-12">
					<div class="card mb-4">

						<div class="card-body">
							<h5 class="fw-bold">Departments</h5>
							<hr>
							<div class="yr-Rtable">
								<table class="common-table table datatable" id="">
									<thead>
										<tr>
											<th>S.No</th>
											<th>Department</th>
											<th>Type of Department</th>
											<th>Created On</th>
											<th>Created By</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="t,stat : ${deptlist}">
											<th scope="row" th:text="${stat.index+1}"></th>
											<td th:text="${t.department_name}"></td>
											<td th:text="${t.department_type}"></td>
											<td
												th:text="${#dates.format(t.created_date, 'dd-MM-yyyy HH:mm:ss')}"></td>
											<td th:text="${t.created_by}"></td>

										</tr>
									</tbody>
								</table>
							</div>

						</div>
					</div>

				</div>
				End Left side columns
			</div> -->


		</section>
      <section>
		<div class="row">

			<!-- Left side columns -->
			<div class="col-lg-12 yrTab">
				<div class="card">
					<div id="cUsers" class="card-body visibility-hidden">
						<div class="d-flex align-items-center justify-content-between">
							<h5 class="fw-bold">Created Office & Designations</h5>
							<div class="button-part btn-wrapper ms-2">
								<button class="btn btn-purple" title="Download Excel"> <i
										class="bi bi-filetype-xls"></i></button>
								<button class="btn btn-black" title="Download PDF"> <i
										class="bi bi-filetype-pdf"></i></button>
							</div>
						</div>
						<hr>
						<div class="yr-Rtable ">
							<table class="table table-bordered" id="YRreport11" style="width: 100%;"></table>
						</div>

					</div>
				</div>

			</div>
			<!-- End Left side columns -->
		</div>
	</section>
	</main>

	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3>Edit Office Details</h3>

					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="exampleInputEmail1">Department</label> <input type="text" class="form-control"
								id="departmentName" aria-describedby="emailHelp" readonly >
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Office</label> <input type="text"
								class="form-control input-field" id="offName" aria-describedby="emailHelp">
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Designation</label> <input type="text"
								class="form-control input-field" id="Desig" aria-describedby="emailHelp">
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="form-input-block mb-2">

									<label for="offc">User Level<span class="text-danger h6 m-0">*</span></label> <select
										class="form-select" id="usLvl" aria-label="addlevell">
										<option value="UT">UT</option>
										<option value="Division">Division</option>
										<option value="District">District</option>
										
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-input-block mb-2">

									<label for="userType">User Type<span class="text-danger h6 m-0">*</span></label> <select
										class="form-select" id="usTpe" aria-label="addnewUserType" disabled>
										<option value="HOD">HOD</option>
										<option value="District">District</option>
									</select>
								</div>
							</div>
						</div>

						<!-- <div class="form-group">
							<label for="exampleInputEmail1">User Level</label> <input type="text"
								class="form-control input-field" id="usLvl" aria-describedby="emailHelp">
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">User Type</label> <input type="text"
								class="form-control input-field" id="usTpe" aria-describedby="emailHelp">
						</div> -->
						<input type="hidden" id="idenV">
						<button type="button" class="btn btn-primary my-2" id="updateCateg">Submit</button>
					</form>
				</div>
				<div class="modal-footer"></div>
			</div>
		</div>
	</div>
	<!-- End #main -->

	<!-- ======= Footer ======= -->
	<div lang="en" th:include="footer :: footer1"></div>
	<script th:src="@{/js/newDeptNodal.js}"></script>
</body>

</html>