<!DOCTYPE html>
<html th:fragment="header" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head lang="en" th:include="head :: head">
</head>


<body>

	<div lang="en" th:include="dashboard_header :: dashboard_header"></div>


	<div lang="en" th:include="left_sidebar :: returnToDashboard"></div>



	<main id="main" class="main">

		<div class="pagetitle">
			<nav>
				<ol class="breadcrumb">
					<!-- <li class="breadcrumb-item"><a href="#">Home</a></li> -->
					<li class="breadcrumb-item active">Department Mapping</li>
				</ol>
			</nav>
		</div>
		<!-- End Page Title -->

		<section class="section dashboard yrTab">
			<!--  -->
			<div class="row">

				<!-- Left side columns -->
				<div class="col-lg-12">
					<div class="card mb-4">
						<div class="card-body">
							<h5 class="fw-bold">Department Mapping</h5>
							<hr>
							<div class="row">
								<div class="col-md-4">
									<div class="form-input-block mb-2">
									
										<label for="dept">Department Type</label> <select
											id="newdeptname" class="form-select"
											aria-label="Default select example">
											<option selected value="0">Select Department</option>
											<option th:each="deptlist: ${deptlist}"
												th:value="${deptlist.department_name}"
												th:text="${deptlist.department_name}"></option>
										</select>
									</div>
								</div>
							</div>
							<!-- <div class="row">
								<div class="col-md-4">
									<div class="form-input-block mb-2">

										<label for="offc">Office Name</label> <select
											class="form-select" id="addnewoffc" aria-label="addnewoffc" disabled>
											<option value="">Select Office</option>
										</select>
									</div>
								</div>

                               <div class="col-md-4" style="display: none" id="newOffcDiv">
										<div class="form-input-block  mb-3">
											<label for="newofc">Add new Office </label>
											<input type="text" class="form-control" placeholder="Add new Office" id="newofc">
										</div>
									</div>

							</div> -->
							
							<div class="row">
								<div class="col-md-4">
									<div class="form-input-block mb-2">

										<label for="offc">Designation Name</label> <select
											class="form-select" id="addnewDesig" aria-label="addnewDesig" disabled>
											<option value="">Select Designation</option>
										</select>
									</div>
								</div>

                              <div class="col-md-4" style="display: none" id="newDesigDiv">
										<div class="form-input-block  mb-3">
											<label for="newofc">Add new Designation </label>
											<input type="text" class="form-control" placeholder="Add new Designation" id="newdesg">
										</div>
									</div>

							</div>

							<div class="col-md-12">
								<div class="btn-block justify-content-start mt-4">
									<button type="submit" class="common-btn" id="submitNewDept">Create</button>
									<button type="reset" class="common-btn btn-black"
										id="resetnewDept">Reset</button>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- End Left side columns -->
			</div>

			<!-- 
			<div class="row">

				Left side columns
				<div class="col-lg-12">
					<div class="card mb-4">

						<div class="card-body">
							<h5 class="fw-bold">Departments</h5>
							<hr>
							<div class="yr-Rtable">
								<table class="common-table table datatable" id="">
									<thead>
										<tr>
											<th>S.No</th>
											<th>Department</th>
											<th>Type of Department</th>
											<th>Created On</th>
											<th>Created By</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="t,stat : ${deptlist}">
											<th scope="row" th:text="${stat.index+1}"></th>
											<td th:text="${t.department_name}"></td>
											<td th:text="${t.department_type}"></td>
											<td
												th:text="${#dates.format(t.created_date, 'dd-MM-yyyy HH:mm:ss')}"></td>
											<td th:text="${t.created_by}"></td>

										</tr>
									</tbody>
								</table>
							</div>

						</div>
					</div>

				</div>
				End Left side columns
			</div> -->


		</section>

	</main>
	<!-- End #main -->

	<!-- ======= Footer ======= -->
	<div lang="en" th:include="footer :: footer1"></div>



</body>

</html>