<!DOCTYPE html>
<html th:fragment="header" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head lang="en" th:include="head :: head"> </head>

<title>RMC/DH - User Creation</title>


<body>

	<div lang="en" th:include="dashboard_header :: dashboard_header"></div>
	<input type="hidden" id="usrflag" th:value="${userflag}">
	<div lang="en" th:include="left_sidebar :: returnToDashboard"></div>


	<main id="main" class="main">
		<div class="pagetitle">
			<!-- 			<h1>Create Users</h1> -->
			<nav>
				<ol class="breadcrumb">
					<!-- <li class="breadcrumb-item"><a href="#">Home</a></li> -->
					<li class="breadcrumb-item active">Create User</li>
				</ol>
			</nav>
		</div>
		<!-- End Page Title -->

		<section class="section dashboard yrTab">




			<div class="row mb-4" id="rmcUserDiv" style="">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<h5 th:if="${userflag == 'DealingHand Head'}" class="fw-bold">User Mapping - Create Dealing Hand Users</h5>
							<h5 th:if="${userflag == 'RMC Head'}" class="fw-bold">User Mapping - Create RMC Usesr</h5>
							<hr>
							<div>
								<ul>
									<li><span class="text-danger d-block mb-2">Password should contain uppercase letter, lowercase letter, digits and special characters between @$!%*?&.</span></li>
								</ul>
								<div class="row">
									<div class="col-md-4">
										<div class="form-input-block">
											<label for="floatingZip">First name<span class="text-danger m-0 h6">*</span></label>
											<input type="text" class="form-control input-f" placeholder="First name"
												id="fn">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-input-block">
											<label for="floatingZip">Middle name </label>
											<input type="text" class="form-control input-f" placeholder="Middle name"
												id="mn">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-input-block">
											<label for="floatingZip">Last name<span class="text-danger m-0 h6">*</span></label>
											<input type="text" class="form-control input-f" placeholder="Last name"
												id="ln">
										</div>
									</div>

									<div class="col-md-4 mt-3">
										<div class="form-input-block">
											<label for="floatingZip">Mobile<span class="text-danger m-0 h6">*</span></label>
											<input type="text" class="form-control" placeholder="Mobile" id="mobile"
												maxlength="10">
										</div>
									</div>
									<div class="col-md-4 mt-3">
										<div class="form-input-block">
											<label for="floatingZip">Email<span class="text-danger m-0 h6">*</span></label>
											<input type="email" class="form-control" placeholder="Email" id="email"
												maxlength="50">
										</div>
									</div>
									<div class="col-md-4 mt-3">
										<div class="form-input-block">
											<label for="floatingZip">Designation<span class="text-danger m-0 h6">*</span></label>
											<input type="text" class="form-control input-field"
												placeholder="Designation" id="designation">
										</div>
									</div>
									<div class="col-md-4 mt-3">
										<div class="form-input-block">
											<label for="floatingZip">Password<span class="text-danger m-0 h6">*</span></label>
											<input  type="password" class="form-control" placeholder="Password"
												id="password">
											<span id="errMsg1" class="text-danger"></span>
										</div>
									</div>
									<div id="distDiv" class="col-md-8">
										<div class="row">
											<div class="col-md-6 mt-3" id="divvvv">
												<div class="form-input-block">
													<label for="inputRegion">Division<span class="text-danger m-0 h6">*</span></label>
													<select id="inputRegion" class="form-select" disabled>
														<!-- <option value="0">--Select Division--</option> -->
														<option th:each="c : ${rodivList}" th:value="${c}"
															th:text="${c}"></option>
													</select>
												</div>
											</div>

											<div class="col-md-6 mt-3 d-none" id="distsss">
												<div class="form-input-block">
													<label for="inputDistrict">District<span class="text-danger m-0 h6">*</span></label>
													<select id="inputDistrict" class="form-select" disabled="disabled">
														<option value="0">--Select District--</option>
													</select>

												</div>
											</div>
										</div>



									</div>
								</div>

								<div class="col-md-12 mt-3">
									<div>
										<button type="submit" class="common-btn" id="submitRMCandDHUsers">Create</button>
									</div>
								</div>

							</div>

						</div>
					</div>

				</div>
				<!-- End Left side columns -->
			</div>

			<div class="row d-none" id="userListDiv">

				<!-- Left side columns -->
				<div class="col-lg-12 yrTab">
					<div class="card">
						<div class="card-body">
							<div class="table-header-section d-flex justify-content-between align-items-center mb-3">
								<div class="heading-part">
									<h5 class="fw-bold mb-0">Existing Users</h5>
								</div>
								<div class="button-part btn-wrapper ms-2">
									<button class="btn btn-purple btn-customBtn1" title="Download Excel"
										value="buttons-excel"> <i class="bi bi-filetype-xls"></i></button>
									<button class="btn btn-black btn-customBtn1" title="Download PDF"
										value="buttons-pdf"> <i class="bi bi-filetype-pdf"></i></button>
								</div>

							</div>
							<hr>
							<div class="yr-Rtable p-4">
								<table class="table table-bordered" id="SKYReportRMCUsr" style="width: 100%;"></table>
							</div>

						</div>
					</div>

				</div>
				<!-- End Left side columns -->
			</div>
		</section>

	</main>

	<!-- End #main -->

	<!-- ======= Footer ======= -->
	<div lang="en" th:include="footer :: footer1"></div>


</body>

</html>