<!DOCTYPE html>
<html th:fragment="header" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head lang="en" th:include="head :: head"> </head>


<body>

	<div lang="en" th:include="dashboard_header :: dashboard_header"></div>


	<!-- <div lang="en" th:include="left_sidebar :: returnToDashboard"></div> -->

	<main id="main" style="margin-left: 0px !important;" class="main position-relative">


		<div class="pagetitle mb-3">
			<nav>
				<ol class="breadcrumb">
					<!-- <li class="breadcrumb-item"><a href="#">Home</a></li> -->
					<li class="breadcrumb-item active">Dealing Hand Grievances</li>
				</ol>
			</nav>
		</div>
		<!-- End Page Title -->

		<section class="section dashboard yrTab">

			<div class="row">

				<!-- Left side columns -->
				<div class="col-lg-12 yrTab">
					<div class="card">
						<div class="card-body">

							<div class="table-header-section d-flex justify-content-between align-items-center mb-3">
								<div class="heading-part">
									<h5 class="fw-bold">Dealing Hand Grievances Report</h5>
								</div>
								<div class="button-part btn-wrapper ms-2">
									<button class="btn btn-purple btnDlh-customBtn" title="Download Excel"
										value="buttons-excel"> <i class="bi bi-filetype-xls"></i></button>
									<button class="btn btn-black btnDlh-customBtn" title="Download PDF"
										value="buttons-pdf"> <i class="bi bi-filetype-pdf"></i></button>
								</div>
							</div>
							<hr>
							<div class="yr-Rtable p-4">
								<table class="common-table table datatable table-bordered" id="dhltbl"
									style="width: 100%;">
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>


		</section>

	</main>
	<!-- End #main -->

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-xl" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<!-- <h3 class="card-title text-center">Grievance/s Pending With Result</h3> -->
				<div class="modal-body">
					<div class="advPendingWithDiv yr-Rtable p-4 visually-hidden">
						<table class="table table-bordered stripe" id="filteredDHList" style="width: 100%;"></table>
					</div>
				</div>
				<div class="modal-footer"></div>
			</div>
		</div>
	</div>

	<!-- ======= Footer ======= -->
	<div lang="en" th:include="footer :: footer2"></div>


</body>

</html>