<!DOCTYPE html>
<html th:fragment="header" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head lang="en" th:include="head :: head"></head>
<body>

	<div lang="en" th:include="dashboard_header :: dashboard_header"></div>

	<div lang="en" th:include="left_sidebar :: left_sidebar"></div>


	<main id="main" class="main">

	


		<!-- End Page Title -->

		<div class="tab-content" id="pills-tabContent">

			<!-- HOME Dashboard  -->
			<div class="tab-pane fade show  active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
				tabindex="0">

				<section class="section dashboard dash1 yrTab">
<!-- 				<h5 class="text-center text-white yr-bg-secondary py-2">LG Mulakat Grievances</h5> -->
						<!-- Left side columns -->
					
						
									<div class="card">
								      <!-- <label for="meetingdate">Meeting Date:</label>
                                      <input type="date" id="meetingdate" name="meetingdate"> -->
										<div class="card-body ">
											<h5 class="fw-bold">LG Mulaqaat Grievances</h5>
											<hr/>
											<div class="yr-Rtable py-3" id="homeDiv"> 
												<table class="table stripe datatable" id="lgmlist"
													style="width: 100%;"></table> 
											</div>
										</div>
									</div>
				 

				</section>
						
					</div>
				


			</div>

        <!--  /////////////////////////////// -->

	
	</main>
	<!-- End #main -->

	<!-- ======= Footer ======= -->
	<div lang="en" th:include="footer :: footer1"></div>

	<div class="yr-loader" style="display:none;">
		<div class="spinner-border text-info" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>




<div class="modal fade" id="remarkmodal" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="fw-bold mb-0">LGS Decision</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       		<div class="form-input-block">
       		<div class="d-flex align-items-center gap-3 mb-2">
       		    <input type = "hidden" id = "hidid"> 
       			<label for="uid" class="mb-0">Unique Id</label>
       			<span class="text-dark fw-bold" id = "remuniqid"></span>
       		</div>
       			<textarea class="form-control" rows="3" placeholder="Enter Your Remarks Here" id = "remarkstxt" maxlength="3000"></textarea>
       		</div>
       		<button class="mt-2 common-btn" id ="saverem"></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="viewremark" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="fw-bold mb-0">LGS Decision</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       		<div class="form-input-block">
       		<div class="d-flex align-items-center gap-3 mb-2">
       			<label for="uid" class="mb-0">Unique Id</label>
       			<span class="text-dark fw-bold" id = "viewremid"></span>
       		</div>
       			<textarea class="form-control" rows="3" id = "viewremtxt" readonly="readonly"></textarea>
       		</div>
      </div>
    </div>
  </div>
</div>

</body>

</html>