<!DOCTYPE html>
<html th:fragment="header" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head lang="en" th:include="head :: head">
</head>


<body>

	<div lang="en" th:include="dashboard_header :: dashboard_header"></div>

	<div lang="en" th:include="left_sidebar :: left_sidebar"></div>


	<main id="main" class="main">




		<!-- End Page Title -->

		<div class="tab-content" id="pills-tabContent">

			<!-- HOME Dashboard  -->


			<section class="section dashboard dash1 yrTab">
				<!-- 					<h5 class="text-center text-white yr-bg-secondary py-2">Minutes Of Meetings Summary</h5> -->
				<!-- 					<div class="row count-dash"> -->
				<!-- 						<div class="dbBox row"></div> -->

				<!-- 					</div> -->



				<!--  -->

				<!-- Left side columns -->

				<!-- Total Grievances Table Div -->




				<div class="card">
					<!-- <label for="meetingdate">Meeting Date:</label>
                                      <input type="date" id="meetingdate" name="meetingdate"> -->
					<div class="card-body ">
						<h5 class="fw-bold">Minutes Of Meetings Summary</h5>
						<hr>
						<div class="yr-Rtable py-3" id="homeDiv">

							<table class="table stripe datatable" id="minutesofmeeting"
								style="width: 100%;">
								<thead>
									<tr>
										<th>Sr.no</th>
										<th>Grievance ID</th>
										<th>Department</th>
										<th>Category</th>
										<th>Submitted By</th>
										<th>Meeting Date</th>
										<th>Insert Date</th>
										<th>LGS Decision</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="item, stat : ${meetingData}">
										<td th:text="${stat.index + 1}"></td>
										<td>
											<button
												class="btn btn-link grievance-btn griDetailsminmeetng"
												th:data-uniqid="${item.uniqid}" th:text="${item.uniqid}"></button>
										</td>
										<td th:text="${item.department}"></td>
										<td th:text="${item.category}"></td>
										<td th:text="${item.name}"></td>
										<td th:text="${#dates.format(item.meetingdate, 'yyyy-MM-dd')}"></td>
										<td th:text="${#dates.format(item.insertdate, 'yyyy-MM-dd')}"></td>
										<!-- Ensure insertdate is formatted -->
										<td th:text="${item.remarks}"></td>
										<td>
											<div th:if="${item.from_lg != 'Yes'}">
												<button class="btn btn-primary btn-sm forward-btn"
													th:data-uniqid="${item.uniqid}"
													th:data-rem="${item.remarks}">Forward</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>




			</section>


		</div>

		<!--  /////////////////////////////// -->


	</main>
	<!-- End #main -->

	<!-- ======= Footer ======= -->
	<div lang="en" th:include="footer :: footer1"></div>

	<div class="yr-loader" style="display: none;">
		<div class="spinner-border text-info" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>




</body>

</html>