<!DOCTYPE html>
<html th:fragment="header" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head lang="en" th:include="head :: head"> </head>
<title>GRIEVANCE - Process</title>

<body>
  <div lang="en" th:include="dashboard_header :: dashboard_header"></div>

  <div lang="en" th:include="left_sidebar :: returnToDashboard"></div>

  <input type="hidden" class="usrT" th:value="${usrT}" />

  <main id="main" class="main">
    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <!-- <li class="breadcrumb-item"><a href="#">Home</a></li> -->
          <li class="breadcrumb-item active">Appealed Grievance</li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-12 yrTab">
          <h5 class="alert alert-primary">
            Appeal processing for
            <span class="spanDetails" th:text="${appealID}" id="appD"></span>
          </h5>
          <div class="row">
            <div class="col-lg-6">
              <div class="card mb-4">
                <div class="card-body">
                  <h5 class="fw-bold">Citizen Details</h5>
                  <hr />
                  <div class="row m-0" th:each="g : ${grevMaster}">
                    <div class="col-md-12">
                      <div class="py-2 row border-bottom">
                        <div class="col-lg-4 col-md-4 fw-bold">
                          User Name:
                        </div>
                        <div class="col-lg-8 col-md-8 dFname" th:text="${g.name}"></div>
                      </div>
                      <div class="py-2 row border-bottom">
                        <div class="col-lg-4 col-md-4 fw-bold">Email:</div>
                        <div class="col-lg-8 col-md-8" th:text="${g.submitted_by}"></div>
                      </div>
                      <div class="py-2 row border-bottom">
                        <div class="col-lg-4 col-md-4 fw-bold">
                          Phone Number:
                        </div>
                        <div class="col-lg-8 col-md-8" th:text="${g.mobile}"></div>
                      </div>
                      <div class="py-2 row border-bottom">
                        <div class="col-lg-4 col-md-4 fw-bold">Address:</div>
                        <div class="col-lg-8 col-md-8" th:text="${g.address}"></div>
                      </div>
                      <div class="py-2 row border-bottom">
                        <div class="col-lg-4 col-md-4 fw-bold">Location:</div>
                        <div class="col-lg-8 col-md-8" th:text="${g.latitude} + ' , ' + ${g.longitude}"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="card mb-4">
                <div class="card-body">
                  <h5 class="fw-bold">Grievance Details</h5>
                  <hr />
                  <div class="row m-0" th:each="g : ${grevMaster}">
                    <div class="col-md-12">
                      <div class="py-2 row border-bottom">
                        <div class="col-lg-4 col-md-4 fw-bold">
                          Grievance Id:
                        </div>
                        <div class="col-lg-8 col-md-8 dFname gGrevId" th:text="${g.uniqid}"></div>
                      </div>
                      <div class="py-2 row border-bottom">
                        <div class="col-lg-4 col-md-4 fw-bold">
                          Department:
                        </div>
                        <div class="col-lg-8 col-md-8 dFname" th:text="${g.department}"></div>
                      </div>
                      <div class="py-2 row border-bottom">
                        <div class="col-lg-4 col-md-4 fw-bold">Category:</div>
                        <div class="col-lg-8 col-md-8 dFname" th:text="${g.category}"></div>
                      </div>
                      <div class="py-2 row border-bottom">
                        <div class="col-lg-4 col-md-4 fw-bold">
                          Sub Cateogry:
                        </div>
                        <div class="col-lg-8 col-md-8 dFname" th:text="${g.sub_category}"></div>
                      </div>
                      <div class="py-2 row border-bottom">
                        <div class="col-lg-4 col-md-4 fw-bold">
                          Recieved On:
                        </div>
                        <div class="col-lg-8 col-md-8 dFname"
                          th:text="${#dates.format(g.createddate, 'dd-MM-yyyy HH:mm:ss')}"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card-body">
              <h5 class="fw-bold">Grievance Description</h5>
              <hr />
              <div class="col-12 sentToConPer">
                <div class="row" th:each="g : ${grevMaster}">
                  <div class="col-12 mb-3">
                    <div th:text="${g.description}"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card-body">
              <h5 class="fw-bold">Appeal Description</h5>
              <hr />
              <div class="d-flex align-items-center">
                <div class="d-inline-block" th:each="grevH : ${appealListD}">
                  <div class="col-12 mb-3">
                    <div th:text="${grevH.description}"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card-body">
              <h5 class="fw-bold">Grievance/Appeal Documents</h5>
              <hr />
              <div class="d-flex align-items-center">
                <div class="sentToConPer d-inline-block" th:each="grevH : ${grevHistory}">
                  <a th:href="@{'/download1?d=' + ${grevH.file_path}}">
                    <button class="btn btn-sm btn-success mx-2" th:if="${grevH.file_path!=null && grevH.file_path!=''}"
                      th:text="${grevH.file_name}" th:value="${grevH.file_path}" id="doccss"></button>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card-body">
              <h5 class="fw-bold">Action on Grievance</h5>
              <hr />
              <div class="col-12">
                <div class="row mb-4">
                  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <label><input name="actionCheckBox" class="statusRes" value="Resolved" type="radio" checked
                        disabled />
                      Resolved</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="fw-bold">Officer Remarks</h5>

              <hr />
              <div class="col-12 sentToConPer">
                <div class="row" th:each="g : ${grevMaster}">
                  <div class="col-12 mb-3">
                    <div th:text="${g.remark}"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body">
              <!-- <h5 class="fw-bold">Officer Document</h5> -->
              <hr />
              <!-- <div class="d-flex align-items-center">
                  <div class="d-inline-block" th:each="grevH : ${grevHistory}">
                    <button
                      class="btn btn-sm btn-success mx-2"
                      th:if="${grevH.dept_file_name!=null && grevH.dept_file_name!= ''}"
                      th:text="${grevH.dept_file_name}"
                      th:value="${grevH.depdocument}"
                      id="doccc2"
                    ></button>
                  </div>
                </div> -->

              <!-- <div class="card">
						<div class="card-body">
							<h5 class="card-title">Appeal Document</h5>
							<div class="d-flex align-items-center">
								<div class="d-inline-block" th:each="grevH : ${appealListD}">
									<button class="btn btn-sm btn-success mx-2"
										th:if="${grevH.file_name!=null && grevH.file_name!= ''}"
										th:text="${grevH.file_name}" th:value="${grevH.file_path}"
										id="doccc3"></button>
								</div>
							</div>
						</div>
					</div> -->

              <div class="col-12">
                <div class="col-12 mt-3">
                  <h4>Details</h4>
                </div>
                <div>
                  <table class="table table-striped">
                    <thead>
                      <!-- <th>S No.</th> -->
                      <th>Grievance ID</th>
                      <th>Appeal ID</th>
                      <th>Submitted By</th>
                      <th>Disposed By</th>
                      <th>Status</th>
                      <th>Action</th>
                    </thead>
                    <tbody th:each="appealdetail:${appealdetail}">
                      <tr>
                        <td th:text="${appealdetail.grievance_id}"></td>
                        <td th:text="${appealdetail.appeal_id}"></td>
                        <td th:text="${appealdetail.submitted_by}"></td>
                        <td th:text="${appealdetail.resolved_by}"></td>
                        <td th:text="${appealdetail.status}"></td>
                        <td class="text-center">
                          <input type="checkbox" th:value="${appealdetail.grievance_id}" id="appealcheckbox"
                            class="form-check-input" />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="p-1">
                    <input type="file" name="remarkDocument" class="form-control" id="remarkDocument"
                      accept="application/pdf, image/png, image/jpeg, image/jpg">
                    <small class="text-danger fw-semibold">Max File Size: 2
                      MB</small>
                    <h4>Remarks</h4>
                    <textarea name="remarkDetail" id="remarksDetailsId" class="form-control"></textarea>
                    <button class="btn btn-danger mt-2 procesApp" th:value="Rejected">Reject</button>
                    <button class="btn btn-success mt-2 procesApp" th:value="sendRemark">Forward</button>
                  </div>
                </div>
              </div>

              <div class="col-12" th:if="${appstatus == 'Accepted'}">
                <div class="col-12 mt-3">
                  <div class="row">
                    <div class="col-12 mb-3">
                      <label for="">Appeal Reply </label>
                      <textarea name="" id="remarksAppeal" cols="20" rows="3" class="stRemarks form-control"
                        maxlength="3000"></textarea>
                    </div>
                  </div>
                </div>
                <!-- Griveance Process Button -->
                <div class="col-12 button-part">
                  <div class="row justify-content-center text-center">
                    <div class="col-md-3">
                      <button class="btn btn-purple procAppeal">
                        Process Appeal
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- End Left side columns -->
      </div>
    </section>
  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <div lang="en" th:include="footer :: footer1"></div>

  <!-- <script th:src="@{/js/departmentDasboard.js}"></script> -->

  <script th:src="@{/js/appealDashboardMIS.js}"></script>
</body>

</html>