<!DOCTYPE html>
<html th:fragment="header" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head th:insert="~{head :: head}"> </head>


<body>

	<div th:insert="~{dashboard_header :: dashboard_header}"></div>

	<div th:insert="~{left_sidebar :: left_sidebar}" />


	<main id="main" class="main">

		<div class="position-fixed mx-4 top-20 end-0" style="z-index: 999">
			<div th:if="${showLoginToast}" id="loginToast" class="toast align-items-center text-bg-success border-0"
				role="alert" aria-live="assertive" aria-atomic="true">
				<div class="d-flex">
					<div class="toast-body">
						Successfully logged in.
					</div>
					<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
						aria-label="Close"></button>
				</div>
			</div>
		</div>


		<div class="switcherDiv mb-3">
			<ul class="nav nav-pills mb-3 btn-sm rounded-pill border bg-light" id="pills-tab" role="tablist"
				style="width: fit-content; margin-left: auto;">
				<li class="nav-item" role="presentation">
					<button class="nav-link rg-customBtn btn-sm active custBtn rounded-pill" id="pills-home-tab"
						data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab"
						aria-controls="pills-home" value="dash" aria-selected="true">Home</button>
				</li>

				<!-- JK-IGRAMS -->
				<li class="nav-item" role="presentation" th:if="${userType!='ROLE_Secretary'}">
					<button class="nav-link rg-customBtn btn-sm custBtn rounded-pill" id="pills-jkigram-tab"
						data-bs-toggle="pill" data-bs-target="#pills-jkigrams" type="button" value="jkigrams" role="tab"
						aria-controls="pills-jkigrams" aria-selected="false">JK-IGRAMS</button>
				</li>

				<li class="nav-item" role="presentation" th:if="${userType!='ROLE_Secretary'}">
					<button class="nav-link rg-customBtn btn-sm custBtn rounded-pill" id="pills-cpgram-tab"
						data-bs-toggle="pill" data-bs-target="#pills-cpgram" type="button" value="other" role="tab"
						aria-controls="pills-cpgram" aria-selected="false">CPGRAMS</button>
				</li>

				<li class="nav-item" role="presentation" th:if="${userType!='ROLE_Secretary'}">
					<a href="SetupMeetings"><button class="nav-link rg-customBtn btn-sm custBtn rounded-pill"
							type="button" value="Lgmulakat" role="tab" aria-selected="false">HLG Mulaqaat</button></a>
				</li>

			</ul>

		</div>


		<div class="pagetitle mb-3">
			<input type="hidden" id="usrVV" th:value="${usrDD}">
			<nav class="d-flex justify-content-between align-items-center">
				<ol class="breadcrumb mb-0">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li th:if="${userType=='ROLE_SuperAdmin'}" class="breadcrumb-item active">Super Admin Dashboard</li>
					<li th:if="${userType=='ROLE_Secretary'}" class="breadcrumb-item active">Secretary Dashboard</li>

				</ol>
				<div class="d-flex justify-content-center align-items-center gap-3">
					<div class="dropstart">
						<span class="text-decoration-none" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							<i class="bi bi-bell-fill"></i>
							<span
								class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
								th:text="${unreadmessagesSize}"
								th:classappend="${T(java.lang.Integer).parseInt(unreadmessagesSize) > 10} ? 'mx-1': ''">
								<span class="visually-hidden">unread messages</span>
							</span>
						</span>
						<ul class="dropdown-menu">
							<li class="dropdown-item"
								th:if="${notifications ne null and #lists.size(notifications) eq 0}">
								No Older Notifications.
							</li>
							<li class="dropdown-item" th:each="notification : ${notifications}">
								<span class="" th:text="${notification.notification}"></span>
								<div class="d-flex justify-content-between text-sm text-muted font-monospace mt-2">
									<a class="view-file" th:if="${notification.filepath ne null}"
										th:href="@{'/download1?d=' + ${notification.filepath}}">
										<i class="bi bi-file-earmark-arrow-down-fill"></i></a>
									<span class="d-block ms-auto"
										th:text="${#dates.format(notification.createdat, 'MMM dd,yyyy hh:mm a')}"></span>
								</div>
							</li>
						</ul>
					</div>

					<button type="button" class="btn btn-dark btn-sm border-0" data-bs-toggle="modal"
						style="background-color: #8C39F9;" data-bs-target="#createAnnoucementModal">
						Create Announcement
						<i class="bi bi-plus-square"></i>
					</button>

					<!-- CREATE ANNOUCEMENT MODAL -->
					<div class="modal fade" id="createAnnoucementModal" data-bs-backdrop="static"
						data-bs-keyboard="false" tabindex="0" aria-labelledby="staticBackdropLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h1 class="modal-title fs-5" id="staticBackdropLabel" style="color:#8C39F9">Create
										Announcement</h1>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<form>
										<div class="mb-3">
											<label for="announcementTo" class="form-label">
												To
											</label>
											<select class="form-select" id="announcementTo">
												<option value="ALL">ALL (Registered Citizens & Departments)</option>
												<option value="PUBLIC">Public</option>
												<option value="ALL DEPARTMENTS">All Departments</option>
												<option th:each="dept : ${departments}"
													th:text="${dept.department_name}"
													th:value="${dept.department_name}"></option>
											</select>
										</div>
										<div class="mb-3">
											<label for="validTill" class="form-label">
												Announcement Valid Till
											</label>
											<input type="datetime-local" class="form-control" id="validTill">
										</div>
										<div class="mb-3">
											<label for="addfile" class="form-label">
												Attach Document if any
											</label>
											<input type="file" class="form-control" id="addfile"
												accept="application/pdf, image/jpg, image/png, image/jpeg">
											<span class="form-text text-danger text-sm">JPEG/JPG/PNG/PDF</span>
										</div>
										<div class="mb-3">
											<label for="annoucement" class="form-label">
												Announcement
											</label>
											<textarea class="form-control" id="annoucement"
												placeholder="Type an announcement" rows="3"></textarea>
										</div>
										<div class="text-center">
											<button type="button" id="createAnnoucementBtn"
												class="btn btn-sm text-white" style="background-color: #8C39F9;">Create
												Announcement</button>
											<button type="reset" class="btn btn-sm btn-dark"
												data-bs-dismiss="modal">Cancel</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</div>
		<!-- End Page Title -->

		<div class="tab-content" id="pills-tabContent">

			<!-- HOME Dashboard  -->
			<div class="tab-pane fade show  active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
				tabindex="0">

				<section class="section dashboard dash1">
					<!-- <h5 class="text-center text-white yr-bg-secondary py-2">HOME</h5> -->
					<div class="row count-dash">
						<div class="dbBox row">

							<!-- Sales Card -->
							<div class="card-box">
								<a href="#" data-value="Total" class="filterData">
									<div class="card info-card sales-card pb-0">
										<div class="card-body ">
											<p class="mb-0">Total Grievance Received</p>

											<div class="d-flex justify-content-between align-items-end">

												<div class="count">

													<div class="other-count">

														<div class="count count-total  border-bottom">
															<small>Total</small>
															<h6 id='totalGri' th:text="${totalG}"></h6>
														</div>
														<div class="d-flex mt-1">
															<div class="count count-first">
																<small>Web</small>
																<h6 th:text="${totalWebApp}"></h6>
															</div>
															<div class="count count-second  border-start">
																<small>Mobile</small>
																<h6 th:text="${totalMobApp}"></h6>
															</div>
														</div>
													</div>
												</div>
												<img src="../img/icons/total-icon.png" alt="Icon Image"
													class="img-fluid">
											</div>

										</div>
									</div>
								</a>
							</div>


							<div class="card-box">
								<a href="#" data-value="'Pending','Acknowledged','Under Process'" class="filterData">
									<div class="card info-card sales-card pb-0">
										<div class="card-body ">
											<p class="mb-0">Pending with Departments</p>
											<div class="d-flex justify-content-between align-items-end">

												<div class="count">
													<h6 id="pendingGri" th:text="${pending}"></h6>

												</div>
												<img src="../img/icons/pending-icon.png" alt="Icon Image"
													class="img-fluid">
											</div>

										</div>
									</div>
								</a>
							</div>



							<div class="card-box">
								<a href="#" data-value="'Final Disposed'" class="filterData">
									<div class="card info-card sales-card pb-0">
										<div class="card-body ">
											<p class="mb-0">Final Disposed</p>

											<div class="d-flex justify-content-between align-items-end">

												<div class="count">

													<div class="other-count">

														<div class="count count-total  border-bottom">
															<small>Total</small>
															<h6 id='totalGri' th:text="${totalClosed}"></h6>
														</div>
														<div class="d-flex mt-1">
															<div class="count count-first">
																<small>Resolved</small>
																<h6 th:text="${resolved}"></h6>
															</div>
															<div class="count count-second  border-start">
																<small class="text-danger">Rejected</small>
																<h6 th:text="${rejected}"></h6>
															</div>
														</div>
													</div>
												</div>
												<img src="../img/icons/resolved-icon.png" alt="Icon Image"
													class="img-fluid">
											</div>

										</div>
									</div>
								</a>
							</div>


							<!-- 	
						<div class="card-box">
							<div class="card info-card sales-card pb-0">
								<div
									class="card-body ">
									<p class="mb-0">Resolved</p>
									<div class="d-flex justify-content-between align-items-end">
										
										<div class="count">
											<h6 th:text="${resolved}"></h6>
											
										</div>
										<img src="../img/icons/resolved-icon.png" alt="Icon Image" class="img-fluid">
									</div>
									
								</div>
							</div>
						</div> -->

							<div class="card-box">
								<!-- <a href="flaggedGrievances"> -->
								<a href="#" data-value="'Appealed'" class="filterData">
									<div class="card info-card sales-card pb-0">
										<div class="card-body ">
											<p class="mb-0">Appealed</p>
											<div class="d-flex justify-content-between align-items-end">

												<div class="count">
													<h6 id="flagged" th:text="${pendingWithAdmin}"></h6>

												</div>
												<img src="../img/icons/rejected-icon.png" alt="Icon Image"
													class="img-fluid">
											</div>

										</div>
									</div>
								</a>
							</div>


							<div class="card-box mt-3">
								<a href="#" data-value="'Forwarded'" class="filterData">
									<div class="card info-card sales-card pb-0">
										<div class="card-body ">
											<p class="mb-0">Forwarded</p>
											<div class="d-flex justify-content-between align-items-end">

												<div class="count">
													<h6 th:text="${fwd}"></h6>

												</div>
												<img src="../img/icons/appealed-icon.png" alt="Icon Image"
													class="img-fluid">
											</div>

										</div>
									</div>
								</a>
							</div>


							<div class="card-box mt-3">
								<a href="#" data-value="'dnpToOffice'" class="filterData">
									<div class="card info-card sales-card pb-0">
										<div class="card-body ">
											<p class="mb-0">Does Not Pertain</p>
											<div class="d-flex justify-content-between align-items-end">

												<div class="count">
													<h6 th:text="${DNP}"></h6>

												</div>
												<img src="../img/icons/online.png" alt="Icon Image" class="img-fluid">
											</div>

										</div>
									</div>
								</a>
							</div>

							<div class="card-box">
								<a href="#" data-value="'Forwarded To CPGRAM'" class="filterData">
									<div class="card info-card sales-card pb-0">
										<div class="card-body ">
											<p class="mb-0">CPGRAMS</p>

											<div class="d-flex justify-content-between align-items-end">

												<div class="count">

													<div class="other-count">

														<div class="count count-total  border-bottom">
															<small>Total</small>
															<h6 id='totalGri' th:text="${totalcpgram}"></h6>
														</div>
														<div class="d-flex mt-1">
															<div class="count count-first">
																<small>Forwarded</small>
																<h6 th:text="${fwdToCPGRAM}"></h6>
															</div>
															<div class="count count-second  border-start">
																<small>Closed</small>
																<h6 th:text="${cpgramClosed}"></h6>
															</div>
														</div>
													</div>
												</div>
												<img src="../img/icons/offline.png" alt="Icon Image" class="img-fluid">
											</div>

										</div>
									</div>
								</a>
							</div>



							<div class="card-box">
								<a href="#">
									<div class="card info-card sales-card pb-0">
										<div class="card-body">
											<p class="mb-0">Escalation Figures</p>
											<div class="d-flex justify-content-between align-items-end">
												<div class="count">
													<div class="other-count">

														<div class="count count-total border-bottom">
															<small>Total</small>
															<h6 class="filterData" data-value="Total" id=''
																th:text="${escalationCounts[0].total_count}"></h6>
														</div>

														<div class="d-flex mt-1">
															<div class="count count-first" style="cursor:pointer;">
																<small>Beyond 7 Days</small>
																<h6 class="filterData" data-value="7"
																	th:text="${escalationCounts[0].beyond7_count}"></h6>
															</div>
															<div class="count count-second border-start"
																style="cursor:pointer;">
																<small>Beyond 28 Days</small>
																<h6 class="filterData" data-value="28"
																	th:text="${escalationCounts[0].beyond28_count}">
																</h6>
															</div>
														</div>

													</div>
												</div>
												<img src="../img/icons/flagged.png" alt="Icon Image" class="img-fluid">
											</div>
										</div>
									</div>
								</a>
							</div>


							<!-- <div class="card-box">
								<a href="#" data-value="'Priority'" class="filterData">
									<div class="card info-card sales-card pb-0">
										<div class="card-body ">
											<p class="mb-0">Priority</p>
											<div class="d-flex justify-content-between align-items-end">

												<div class="count">
													<h6 id="priority" th:text="${remark}"></h6>

												</div>
												<img src="../img/icons/flagged.png" alt="Icon Image" class="img-fluid">
											</div>

										</div>
									</div>
								</a>
							</div> -->



						</div>


					</div>

					<!--  -->
					<div class="row grivance-wrapper">


						<div lang="en" th:insert="~{FilterFragments :: FilterBoxFrag}"></div>

						<!-- Left side columns -->
						<ul class="nav nav-tabs d-flex align-items-center justify-content-start" id="myTab"
							role="tablist">
							<!-- Total Grievances Tab Switcher -->
							<!-- <li class="nav-item" role="presentation">
								<button class="nav-link active position-relative tt_griev" id="home-tab"
									data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab"
									aria-controls="home-tab-pane" aria-selected="true" value="Home"><span
										id="dynGrii">Total Applications</span>
									(<span th:text="${totalG}">
									</span>)
								</button>
							</li> -->
							<!--does not to pertain Tab Switcher -->
							<!-- <li class="nav-item" role="presentation">
								<button class="nav-link position-relative tt_griev" id="doesNot-tab"
									data-bs-toggle="tab" data-bs-target="#doesNot-tab-pane" type="button" role="tab"
									aria-controls="doesNot-tab-pane" aria-selected="false" value="DoesNotPertain">Does
									Not Pertain
									(<span th:text="${DNP}" >
									</span>)
								</button>
							</li> -->
						</ul>
						<!-- Total Grievances Table Div -->
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel"
								aria-labelledby="home-tab" tabindex="0">
								<div class="col-lg-12 yrTab1">
									<div class="card">
										<div class="card-body ">
											<!-- <h5 class="card-title px-3 py-2 text-dark"> Total Applications Table</h5> -->
											<div
												class="table-header-section d-flex justify-content-between align-items-center mb-3">
												<div class="heading-part">
													<h4>Total Applications Table</h4>
												</div>


												<div lang="en" th:insert="~{FilterFragments :: cBtnFrag}"></div>

											</div>



											<div class="yr-Rtable py-3" id="homeDiv">

												<table class="table stripe datatable table-bordered" id="YRreport999"
													style="width: 100%;"></table>
												<!-- <table class="table table-bordered stripe" id="all_tblHome" style="width: 100%;"></table> -->
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Does not Pertain Table Div -->
							<div class="tab-pane fade" id="doesNot-tab-pane" role="tabpanel"
								aria-labelledby="doesNot-tab" tabindex="0">
								<div class="col-lg-12 yrTab1">
									<div class="card">
										<div class="card-body">

											<div
												class="table-header-section d-flex justify-content-between align-items-center mb-3">
												<div class="heading-part">
													<h4>Does Not Pertain Grievances Table</h4>
												</div>
												<!-- <div class="search-part">
													<h4>Filter</h4>
													<div class="form-check form-check-inline">
														<input class="form-check-input data-search" type="radio"
															name="total-app" id="total-all-search" checked th:value="home"> <label
															class="form-check-label" for="total-all-search" >  All </label>
													</div>
													<div class="form-check form-check-inline">
														<input class="form-check-input data-search" type="radio"
															name="total-app" id="total-web-search" th:value="web"> <label
															class="form-check-label" for="total-web-search"> Web</label>
													</div>
													<div class="form-check form-check-inline">
														<input class="form-check-input data-search" type="radio"
															name="total-app" id="total-app-search" th:value="mobile">
														<label class="form-check-label" for="total-app-search">
															Mobile</label>
													</div>
													<div class="form-check form-check-inline">
														<input class="form-check-input data-search" type="radio"
															name="total-app" id="total-normal-search" th:value="Normal">
														<label class="form-check-label" for="total-normal-search">
															Normal </label>
													</div>
													<div class="form-check form-check-inline">
														<input class="form-check-input data-search" type="radio"
															name="total-app" id="total-pri-search" th:value="Priority">
														<label class="form-check-label" for="total-pri-search">
															Priority </label>
													</div>
												</div> -->
												<div class="button-part btn-wrapper ms-2">
													<button class="btn btn-purple btn-customBtn" title="Download Excel"
														value="buttons-excel"> <i
															class="bi bi-filetype-xls"></i></button>
													<button class="btn btn-black btn-customBtn" title="Download PDF"
														value="buttons-pdf"> <i class="bi bi-filetype-pdf"></i></button>
												</div>
											</div>
											<div class="yr-Rtable py-3">
												<table class="table table-bordered stripe" id="all_tblDoesNotPertain"
													style="width: 100%;">
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Left side columns -->
					</div>
				</section>


			</div>


			<!-- CPGRAM Dashboard  -->
			<div class="tab-pane fade" id="pills-cpgram" role="tabpanel" aria-labelledby="pills-cpgram-tab"
				tabindex="0">
				<div class="text-end mb-2 d-none">
					<button type="button" id="fetchGri" class="btn btn-success btn-sm rounded-pill px-3">Fetch
						Grievances</button>
				</div>
				<section class="section dashboard dash2">

					<h5 class="text-center text-white yr-bg-secondary py-2">CPGRAMS</h5>
					<div class="row count-dash">

						<!-- Left side columns -->
						<div class="row dbBox">

							<div class="card-box">
								<div class="card info-card sales-card pb-0">
									<div class="card-body">
										<p class="mb-0">Total Grievance Received</p>
										<a href="#" class="count" data-value="Total">
											<div class="d-flex justify-content-between align-items-center">
												<div class="count">
													<h6 th:text="${cpgramTotalG}"></h6>
												</div>
												<img src="../img/icons/total-icon.png" class="img-fluid">
											</div>
										</a>
									</div>
								</div>
							</div>


							<div class="card-box">
								<div class="card info-card sales-card pb-0">
									<div class="card-body">
										<p class="mb-0">Pending for Forwarding</p>
										<a href="#" class="count" data-value="Pending">
											<div class="d-flex justify-content-between align-items-center">
												<div class="count">
													<h6 th:text="${cpgramPending}"></h6>
												</div>
												<img src="../img/icons/pending-icon.png" class="img-fluid">
											</div>
										</a>
									</div>

								</div>
							</div>

							<div class="card-box">
								<div class="card info-card sales-card pb-0">
									<div class="card-body">
										<p class="mb-0">Closed Grievance</p>
										<a href="#" class="count" data-value="Closed">
											<div class="d-flex justify-content-between align-items-center">
												<div class="count">
													<h6 th:text="${cpClosedApps}"></h6>
												</div>
												<img src="../img/icons/resolved-icon.png" class="img-fluid">
											</div>
										</a>
									</div>
								</div>
							</div>
							<div class="card-box">
								<div class="card info-card sales-card pb-0">
									<div class="card-body">
										<p class="mb-0">Opened Grievance</p>
										<a href="#" class="count" data-value="Opened">
											<div class="d-flex justify-content-between align-items-center">
												<div class="count">
													<h6 th:text="${cpgramOpened}"></h6>
												</div>
												<img src="../img/icons/resolved-icon.png" class="img-fluid">
											</div>
										</a>
									</div>
								</div>
							</div>

							<div class="card-box">
								<div class="card info-card sales-card pb-0">
									<div class="card-body ">
										<p class="mb-0">Processed Grievances</p>
										<a href="closeCPGRAMGri">
											<div class="d-flex justify-content-between align-items-center">

												<div class="count">
													<h6 th:text="${cpApps}">0</h6>

												</div>
												<img src="../img/icons/appealed-icon.png" alt="Icon Image"
													class="img-fluid">
											</div>
										</a>
									</div>
								</div>
							</div>

							<!-- Sales Card -->
							<!-- 								<div class="col-xxl-3 col-md-6"> -->
							<!-- 									<div class="card info-card sales-card border-top border-3 border-info"> -->
							<!-- 										<div class="card-body"> -->
							<!-- 											<h5 class="card-title">Total Grievance Received</h5> -->

							<!-- 											<a href="#" class="count" data-value="Total"> -->
							<!-- 												<div class="d-flex align-items-center justify-content-between"> -->
							<!-- 													<div -->
							<!-- 														class="card-icon rounded-circle d-flex align-items-center justify-content-center"> -->
							<!-- 														<i class="bi bi-folder-check"></i> -->
							<!-- 													</div> -->
							<!-- 													<div class="ps-3"> -->
							<!-- 														<h6 id='totalGri' th:text="${cpgramTotalG}"></h6> -->
							<!-- 													</div> -->
							<!-- 												</div> -->
							<!-- 											</a> -->
							<!-- 										</div> -->
							<!-- 									</div> -->
							<!-- 								</div> -->


							<!-- 								<div class="col-xxl-3 col-md-6"> -->
							<!-- 									<div class="card info-card customers-card border-top border-3 border-warning"> -->
							<!-- 										<div class="card-body"> -->
							<!-- 											<h5 class="card-title">Pending</h5> -->
							<!-- 											<a href="#" class="count" data-value="Pending"> -->
							<!-- 												<div class="d-flex align-items-center justify-content-between"> -->
							<!-- 													<div -->
							<!-- 														class="card-icon rounded-circle d-flex align-items-center justify-content-center"> -->
							<!-- 														<i class="bi bi-hourglass-top"></i> -->
							<!-- 													</div> -->
							<!-- 													<div class="ps-3"> -->
							<!-- 														<h6 id='pendingGri' th:text="${cpgramPending}"></h6> -->
							<!-- 													</div> -->
							<!-- 												</div> -->
							<!-- 											</a> -->
							<!-- 										</div> -->
							<!-- 									</div> -->
							<!-- 								</div> -->



							<!-- 
								<div class="col-xxl-4 col-md-6">
									<div class="card info-card revenue-card border-top border-3 border-success">
										<div class="card-body">
											<h5 class="card-title">Resolved</h5>
											<a href="#" class="count" data-value="Resolved">
												<div class="d-flex align-items-center justify-content-between">
													<div
														class="card-icon rounded-circle d-flex align-items-center justify-content-center">
														<i class="bi bi-file-check"></i>
													</div>
													<div class="ps-3">
														<h6 id='resolved' th:text="${cpgramResolved}"></h6>
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
                                 <div class="col-xxl-3 col-md-6">
									<a href="flaggedGrievances">
										<div class="card info-card customers-card2 border-top border-3 border-primary">
											<div class="card-body">
												<h5 class="card-title">Rejected</h5>
												<div class="d-flex align-items-center justify-content-between">
													<div
														class="card-icon rounded-circle d-flex align-items-center justify-content-center">
														<i class="bi bi-file-earmark-excel-fill"></i>
													</div>
													<div class="ps-3">
														<h6 th:text="${cpgramRejected}"></h6>
													</div>
												</div>
											</div>
										</div>
									</a>
								</div> -->

							<!-- 								 <div class="col-xxl-3 col-md-6"> -->
							<!-- 									<a href="closeCPGRAMGri"> -->
							<!-- 										<div class="card info-card customers-card2 border-top border-3 border-primary"> -->
							<!-- 											<div class="card-body"> -->
							<!-- 												<h5 class="card-title">Processed Grievances</h5> -->
							<!-- 												<div class="d-flex align-items-center justify-content-between"> -->
							<!-- 													<div -->
							<!-- 														class="card-icon rounded-circle d-flex align-items-center justify-content-center"> -->
							<!-- 														<i class="bi bi-file-earmark-excel-fill"></i> -->
							<!-- 													</div> -->
							<!-- 													<div class="ps-3"> -->
							<!-- 														<h6 th:text="${cpApps}"></h6> -->
							<!-- 													</div> -->
							<!-- 												</div> -->
							<!-- 											</div> -->
							<!-- 										</div> -->
							<!-- 									</a> -->
							<!-- 								</div> -->

							<!-- 								 <div class="col-xxl-3 col-md-6"> -->
							<!-- 										<div class="card info-card customers-card2 border-top border-3 border-primary"> -->
							<!-- 											<div class="card-body"> -->
							<!-- 												<h5 class="card-title">Closed Grievances</h5> -->
							<!-- 												<div class="d-flex align-items-center justify-content-between"> -->
							<!-- 													<div -->
							<!-- 														class="card-icon rounded-circle d-flex align-items-center justify-content-center"> -->
							<!-- 														<i class="bi bi-file-earmark-excel-fill"></i> -->
							<!-- 													</div> -->
							<!-- 													<div class="ps-3"> -->
							<!-- 														<h6 th:text="${cpClosedApps}"></h6> -->
							<!-- 													</div> -->
							<!-- 												</div> -->
							<!-- 											</div> -->
							<!-- 										</div> -->
							<!-- 								</div> -->
							<!-- <div class="col-xxl-4 col-md-6">
									<div class="card info-card customers-card2 border-top border-3 border-primary">
										<div class="card-body">
											<h5 class="card-title">Flagged Grievances</h5>
											<a href="#" class="count" data-value="Appealed">
												<div class="d-flex align-items-center justify-content-between">
													<div
														class="card-icon rounded-circle d-flex align-items-center justify-content-center">
														<i class="bi bi-flag"></i>
													</div>
													<div class="ps-3">
														<h6 id='flagged' th:text="${pendingWithAdmin}"></h6>
													</div>
												</div>
											</a>
										</div>
									</div>
								</div> -->



						</div>
						<!-- End Left side columns -->
					</div>

					<!--  -->
					<div class="row grivance-wrapper">
						<!-- Left side columns -->
						<ul class="nav nav-tabs d-flex align-items-center justify-content-start" id="myTab"
							role="tablist">
							<!-- Total Grievances Tab Switcher -->
							<!-- <li class="nav-item" role="presentation">
								<button class="nav-link active position-relative cp_griev"  id="home-tab" data-bs-toggle="tab"
									data-bs-target="#cpgram-home-tab-pane" type="button" role="tab"
									aria-controls="cpgram-home-tab-pane" aria-selected="true" value="cpgramHome"><span
										id="dynGrii">Total Applications</span>
									(<span th:text="${cpgramTotalG}" >
									</span>)
								</button>
							</li> -->
							<!--does not to pertain Tab Switcher -->
							<!-- <li class="nav-item" role="presentation">
								<button class="nav-link position-relative cp_griev" id="doesNot-tab" data-bs-toggle="tab"
									data-bs-target="#cpgram-doesNot-tab-pane" type="button" role="tab"
									aria-controls="cpgram-doesNot-tab-pane" aria-selected="false"
									value="cpgramDoesNotPertain">Does
									Not Pertain Grievances
									(<span th:text="${cpgramDNP}" >
									</span>)
								</button>
							</li> -->
						</ul>
						<!-- Total Grievances Table Div -->
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="cpgram-home-tab-pane" role="tabpanel"
								aria-labelledby="home-tab" tabindex="0">
								<div class="col-lg-12 yrTab1">
									<div class="card">
										<div class="card-body">
											<!-- <h5 class="card-title px-3 py-2 text-dark"> Total Applications Table</h5> -->

											<div
												class="table-header-section d-flex justify-content-between align-items-center mb-3">
												<div class="heading-part">
													<h4 id="dynGri">Grievances</h4>
													<label id="lastFetched" style="color:red"></label>
												</div>
												<!-- <div class="search-part">
													<h4>Filter</h4>
													<div class="form-check form-check-inline">
														<input class="form-check-input data-search" type="radio" name="total-app" id="total-all-search" checked="" value="home"> <label class="form-check-label" for="total-all-search">  All </label>
													</div>
													<div class="form-check form-check-inline">
														<input class="form-check-input data-search" type="radio" name="total-app" id="total-web-search" value="web"> <label class="form-check-label" for="total-web-search"> Web</label>
													</div>
													<div class="form-check form-check-inline">
														<input class="form-check-input data-search" type="radio" name="total-app" id="total-app-search" value="mobile">
														<label class="form-check-label" for="total-app-search">
															Mobile</label>
													</div>
													<div class="form-check form-check-inline">
														<input class="form-check-input data-search" type="radio" name="total-app" id="total-normal-search" value="Normal">
														<label class="form-check-label" for="total-normal-search">
															Normal </label>
													</div>
													<div class="form-check form-check-inline">
														<input class="form-check-input data-search" type="radio" name="total-app" id="total-pri-search" value="Priority">
														<label class="form-check-label" for="total-pri-search">
															Priority </label>
													</div>
												</div> -->
												<div class="button-part btn-wrapper ms-2">
													<button class="btn btn-purple btn-CPcustomBtn"
														title="Download Excel" value="buttons-excel"> <i
															class="bi bi-filetype-xls"></i></button>
													<button class="btn btn-black btn-CPcustomBtn" title="Download PDF"
														value="buttons-pdf"> <i class="bi bi-filetype-pdf"></i></button>
												</div>
											</div>


											<div class="yr-Rtable" id="homeDiv">
												<table class="table stripe datatable" id="YRreport000"
													style="width: 100%;">
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="cpgram-doesNot-tab-pane" role="tabpanel"
								aria-labelledby="doesNot-tab" tabindex="0">
								<div class="col-lg-12 yrTab1">
									<div class="card">
										<div class="card-body">

											<div
												class="table-header-section d-flex justify-content-between align-items-center mb-3">
												<div class="heading-part">
													<h4>Does Not Pertain Grievances Table</h4>
												</div>
												<!-- <div class="search-part">
													<h4>Filter</h4>
													<div class="form-check form-check-inline">
														<input class="form-check-input data-search" type="radio" name="total-app" id="total-all-search" checked="" value="home"> <label class="form-check-label" for="total-all-search">  All </label>
													</div>
													<div class="form-check form-check-inline">
														<input class="form-check-input data-search" type="radio" name="total-app" id="total-web-search" value="web"> <label class="form-check-label" for="total-web-search"> Web</label>
													</div>
													<div class="form-check form-check-inline">
														<input class="form-check-input data-search" type="radio" name="total-app" id="total-app-search" value="mobile">
														<label class="form-check-label" for="total-app-search">
															Mobile</label>
													</div>
													<div class="form-check form-check-inline">
														<input class="form-check-input data-search" type="radio" name="total-app" id="total-normal-search" value="Normal">
														<label class="form-check-label" for="total-normal-search">
															Normal </label>
													</div>
													<div class="form-check form-check-inline">
														<input class="form-check-input data-search" type="radio" name="total-app" id="total-pri-search" value="Priority">
														<label class="form-check-label" for="total-pri-search">
															Priority </label>
													</div>
												</div> -->
												<div class="button-part btn-wrapper ms-2">
													<button class="btn btn-purple btn-customBtn" title="Download Excel"
														value="buttons-excel"> <i
															class="bi bi-filetype-xls"></i></button>
													<button class="btn btn-black btn-customBtn" title="Download PDF"
														value="buttons-pdf"> <i class="bi bi-filetype-pdf"></i></button>
												</div>
											</div>
											<div class="yr-Rtable p-4">
												<table class="table table-bordered stripe" id="cpgramTable"
													style="width: 100%;">
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Left side columns -->
					</div>

				</section>


			</div>

			<!-- JKIGRAMS - start - Dashboard  -->
			<div class="tab-pane fade" id="pills-jkigrams" role="tabpanel" aria-labelledby="pills-jkigram-tab"
				tabindex="0">
				<section class="section dashboard dash3">
					<h5 class="text-center text-white yr-bg-secondary py-2">JK-IGRAMS</h5>
					<div class="row count-dash">
						<!-- Left side columns -->
						<div class="row dbBox">
							<div class="card-box">
								<div class="card info-card sales-card pb-0">
									<div class="card-body ">
										<p class="mb-0">Total Grievance Received</p>
										<a href="#" class="count" data-value="Total">
											<div class="d-flex justify-content-between align-items-center">
												<div class="count">
													<h6 id="totalGri" th:text="${jkiTotal}"></h6>
												</div>
												<img src="../img/icons/total-icon.png" alt="Icon Image"
													class="img-fluid">
											</div>

										</a>
									</div>
								</div>
							</div>
							<div class="card-box">
								<div class="card info-card sales-card pb-0">
									<div class="card-body ">
										<p class="mb-0">Pending with Department</p>
										<a href="#" class="count" data-value="Pending">
											<div class="d-flex justify-content-between align-items-center">

												<div class="count">
													<h6 id='pendingGri' th:text="${jkiPending}"></h6>

												</div>
												<img src="../img/icons/pending-icon.png" alt="Icon Image"
													class="img-fluid">
											</div>
										</a>
									</div>
								</div>
							</div>

							<div class="card-box">
								<div class="card info-card sales-card pb-0">
									<div class="card-body ">
										<p class="mb-0">Forwarded</p>

										<div class="d-flex justify-content-between align-items-center">

											<div class="count">
												<h6 th:text="${jkiForwarded}"></h6>
											</div>
											<img src="../img/icons/appealed-icon.png" alt="Icon Image"
												class="img-fluid">
										</div>

									</div>
								</div>
							</div>

							<div class="card-box">
								<div class="card info-card sales-card pb-0">
									<div class="card-body ">
										<p class="mb-0">Remark Added</p>

										<div class="d-flex justify-content-between align-items-center">

											<div class="count">
												<h6 th:text="${jkiRemarksAdded}"></h6>
											</div>
											<img src="../img/icons/flagged.png" alt="Icon Image" class="img-fluid">
										</div>

									</div>
								</div>
							</div>

							<div class="card-box">
								<div class="card info-card sales-card pb-0">
									<div class="card-body ">
										<p class="mb-0">Resolved</p>

										<div class="d-flex justify-content-between align-items-center">

											<div class="count">
												<h6 th:text="${jkiResolved}"></h6>
											</div>
											<img src="../img/icons/resolved-icon.png" alt="Icon Image"
												class="img-fluid">
										</div>

									</div>
								</div>
							</div>

							<div class="card-box">
								<div class="card info-card sales-card pb-0">
									<div class="card-body ">
										<p class="mb-0">Rejected</p>

										<div class="d-flex justify-content-between align-items-center">

											<div class="count">
												<h6 th:text="${jkiRejected}"></h6>
											</div>
											<img src="../img/icons/rejected-icon.png" alt="Icon Image"
												class="img-fluid">
										</div>

									</div>
								</div>
							</div>


							<div class="card-box">
								<div class="card info-card sales-card pb-0">
									<div class="card-body ">
										<p class="mb-0">Does Not Pertain</p>

										<div class="d-flex justify-content-between align-items-center">

											<div class="count">
												<h6 th:text="${jkiDNP}"></h6>
											</div>
											<img src="../img/icons/online.png" alt="Icon Image" class="img-fluid">
										</div>

									</div>
								</div>
							</div>

						</div>
						<!-- End Left side columns -->
					</div>
					<div class="row grivance-wrapper">
						<!-- Total Grievances Table Div -->
						<div class="tab-content" id="myTabContent">
							<div class="col-lg-12 yrTab1">
								<div class="card">
									<div class="card-body">
										<div
											class="table-header-section d-flex justify-content-between align-items-center mb-3">
											<div class="heading-part">
												<h4 id="dynGri">Grievances</h4>
											</div>
											<div class="button-part btn-wrapper ms-2">
												<button class="btn btn-purple btn-customBtn" title="Download Excel"
													value="buttons-excel"> <i class="bi bi-filetype-xls"></i></button>
												<button class="btn btn-black btn-customBtn" title="Download PDF"
													value="buttons-pdf"> <i class="bi bi-filetype-pdf"></i></button>
											</div>
										</div>
										<!-- Table Div -->
										<div class="yr-Rtable p-4" id="">
											<table class="table stripe datatable" id="YRreport010" style="width: 100%;">
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</section>


			</div>
			<!-- JKIGRAMS - end - Dashboard  -->

			<!--  //////////////////////// -->
		</div>

		<div class="modal fade" id="assignedUsersList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<!-- <table class="table datatable table-bordered" id="rtb2"
						style="width: 100%">
						<thead>
							<tr>
								<th>Username</th>
								<th>Assigned Category</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table> -->
						<table class="table table-bordered" id="assignedTable" style="width: 100%">

							</tbody>
						</table>
					</div>
					<div class="modal-footer"></div>
				</div>
			</div>
		</div>


		<div class="modal fade" id="sendreturnCase" tabindex="-1" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
				<div class="modal-content">

					<div class="modal-header border-0">
						<h5 class="modal-title" id="exampleModalLabel">Return Case</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>

					<div class="modal-body" id="modalAttachUser">

						<p class="fw-semibold text-primary mb-3" id="regNo"></p>

						<div class="mb-4">
							<label for="returnRemark" class="form-label fw-semibold">Reason for return of the
								case</label>
							<textarea class="form-control" id="returnRemark" placeholder="Enter Remark" maxlength="2000"
								rows="5"></textarea>
						</div>

						<div class="d-flex justify-content-end">
							<button type="button" id="rtnCaseBtn" class="btn btn-success">Return To CPGRAM</button>
						</div>

					</div>

					<div class="modal-footer border-0"></div>

				</div>
			</div>
		</div>

	</main>
	<!-- End #main -->

	<!-- ======= Footer ======= -->
	<div lang="en" th:insert="~{footer :: footer1}"></div>

	<div class="yr-loader" style="display:none;">
		<div class="spinner-border text-info" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>




</body>

</html>