<!DOCTYPE html>
<html th:fragment="header" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head lang="en" th:include="head :: head">
	<link rel="stylesheet" href="../js/chart/apexcharts.css">
	</link>
	<script src="../js/chart/apexcharts.js"></script>
	<title>SUPER ADMIN - DATA Monitoring</title>


</head>

<style>
	.card-box {
		width: calc(20% - 1rem);
		min-width: unset;
	}

	@media only screen and (max-width: 1600px) and (min-width: 1200px) {
		.card-box {
			width: calc(20% - 1rem) !important;
			min-width: unset;
		}

		.card-box .count+img {
			min-width: 3vw;
			max-width: 45px;
		}

		.card-box .card-body {
			display: flex;
			flex-direction: column;
		}

		.card-box .card-body p {
			flex-grow: 1;
		}
	}
</style>


<body>

	<div lang="en" th:include="dashboard_header :: dashboard_header"></div>


	<!-- <div lang="en" th:include="left_sidebar :: dataMonitorSideBar"></div> -->


	<main id="main" style="margin-left: 0px !important;" class="main position-relative">
		<input id="usrR" th:value="${role}" type="hidden">
		<div class="pagetitle">


			<nav>
				<ol class="breadcrumb">
					<!-- <li class="breadcrumb-item"><a href="#">Home</a></li> -->
					<li class="breadcrumb-item active"><span>Analytical
							Dashboard</span> </li>
				</ol>
			</nav>
		</div>
		<!-- End Page Title -->

		<section id="treeDeskDash" >
			<!-- SKY Tree Graph 02 FEB 2024 -->
			<div class="yrTab">
				<div class="card">
					<div class="card-body">
						<h5 class="fw-bold">Tree Dashboard</h5>
						<hr>
						<div class="row">
							<div class="col-md-8 col-lg-4">
								<div class="form-input-block mb-3">
									<label for="mydepartmentss">List of Departments:</label>
									<select class="form-select" id="mydepartmentss">
										<option value="0">Select</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--  ///////////////////////////////////////////Siddheshwar testing////////////////////////////// -->

			<div class="card mt-2" style="border-radius: 36px;">
				<div class="card-body p-0">
					<div class="button-part btn-wrapper mb-2 float-end">
						<button id="tDas" class="btn btn-purple printCharts" data-value="tree">
							<i class='bx bx-download'></i>
						</button>
					</div>
					<div id="tree" class="tree-diagonal getChartsID">

					</div>
				</div>

			</div>

		</section>


	</main>
	<!-- End #main -->

	<!-- DATA MODAL -->
	<div class="modal fade" id="treeDashboardDataModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <h1 class="modal-title fs-5" id="staticBackdropLabel">Grievance List</h1>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<table class="table table bordered" id="treeDashBoardTable">
					<thead>
						<tr>
							<th>S.NO</th>
							<th>Grievance ID</th>
							<th>Department</th>
							<th>Status</th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			  <!-- <button type="button" class="btn btn-primary">Understood</button> -->
			</div>
		  </div>
		</div>
	  </div>

	<!-- ======= Footer ======= -->
	<div lang="en" th:include="footer :: footer2"></div>
	<script th:src="@{/js/dataMonitor.js}"></script>
	
</body>


</html>